<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vivek.stack.client">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.QuestionActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.VIEW" />-->

            <!--<category android:name="android.intent.category.DEFAULT" />-->
            <!--<category android:name="android.intent.category.BROWSABLE" />-->

            <!--<data-->
            <!--android:host="t4jsample"-->
            <!--android:scheme="oauth" />-->
            <!--</intent-filter>-->
            <!--</activity>-->
        </activity>
        <activity
            android:name=".activities.OuthActivity"
            android:label="@string/app_name" />

        <!--<activity android:name=".activities.OuthActivity">-->
        <!--<intent-filter >-->

        <!--<action android:name="android.intent.action.VIEW"/>-->
        <!--<data android:host="testhost"-->
        <!--android:scheme="test"/>-->
        <!--<category android:name="android.intent.category.BROWSABLE"-->
        <!--/>-->
        <!--</intent-filter>-->
        <!--</activity>-->

        <activity
            android:name=".activities.UserLoggedInQuestions"
            android:theme="@style/CustomTheme" />

        <intent-filter>
            <action android:name="android.intent.action.VIEW" />

            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />

            <data
                android:host="t4jsample"
                android:scheme="oauth" />
        </intent-filter>


        <activity
            android:name=".activities.GuestUserQuestions"
            android:theme="@style/CustomTheme" />
    </application>


</manifest>